*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #ebf2ff !important;
}

.add__new__btn__mobile__only {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px 10px;
    background: white;
    z-index: 3;
    width: 100%;
}

/*
        This media query in place of 
        d-md-none in class="add__new__btn__mobile__only"
        ----->>>> that is : display-medium-none

@media (min-width: 768px){
    .add__new__btn__mobile__only{
        display: none;
    }
}*/